<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Léelo</title>
    <link rel="stylesheet" href="/static/homepagestyle.css">
</head>
<img id="logo" src="/static/logo.png" alt="Léelo"><br>
<nav class="menu">
    <ul>
        <li><a href="home.html" target="blank">HOME</a></li>
        <li><a href="libros.html" target="blank">LIBROS</a></li>
        <li><a href="literatura.html" target="blank">LITERATURA</a></li>
        <li><a href="pitmarket.html" target="blank">PIT MARKET</a></li>
    </ul>
</nav>
<p></p>

<body div style="background-image: url(static/background.png);">
    <div class="container">

        <section class="lead">
            <h1>WHO WE ARE | OUR MISSION</h1>
            <p>We are a group of imaginative minds from diverse backgrounds who place value on various cultures of reading and literature. Likewise, our mission is to provide tools open for everyone to explore literature in different languages. 
                Everything in a friendly space.</p><br>
        </section>
        <footer>
            <p>Instagram? leelo.pr</p><br>
            <p>Yooutube? leelo.pr</p><br>
        </footer>
    </div>
    <p></p>
</body>

</html>