<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Léelo</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<img id="logo" src="/static/logo.png" alt="Léelo"><br>
<nav class="menu">
    <ul>
        <li><a href="home.html" target="blank">HOME</a></li>
        <li><a href="libros.html" target="blank">LIBROS</a></li>
        <li><a href="literatura.html" target="blank">LITERATURA</a></li>
        <li><a href="pitmarket.html" target="blank">PIT MARKET</a></li>
    </ul>
</nav>
<p></p>

<body div style="background-image: url(static/background.png);">
    <div class="container">
        <article>
            <h2>Idiomas:</h2>
            <nav class="menu.idiom">
                <ul>
                    <a href="..." target="blank">Español</a><br>
                    <a href="..." target="blank">Inglés</a><br>
                    <a href="..." target="blank">Francés</a><br>
                    <a href="..." target="blank">Italiano</a><br>
                    <a href="..." target="blank">Portugués</a><br>
                </ul>
            </nav>
        </article>
        <aside>
            <h1>El principito</h1>
            <figure>
                <img src="static/principito.jpg" alt="El principito">
                <figcaption><em>Dibujo de El principito</em></figcaption>
            </figure>
            <h2>Resumen:</h2>
            <p>El libro empieza con nuestro narrador contando que cuando tenia solo 6 años, por algo que leyó en un
                libro, dibujó una boa comiéndose un elegante. Orgulloso de su dibujo, decide enseñárselo a las personas
                mayores, pero éstas piensan que es un sombrero. Al no entender su dibujó, ellos le dicen que deje de
                dibujar y mejor se dedique a las matemáticas o la gramática. Desilusionado, sigue su consejo. De mayor
                se hizo aviador y un día tuvo una avería y quedó varado en el desierto del Sahara. Al otro día, mientras
                dormía, es sorprendido por un niño al que él nombro Principito. El niño le pide que le dibuje un
                cordero. El aviador, como no sabía dibujar más nada, rehace el “dibujo número uno”. Al ver que el chico
                distingue la boda comiéndose un elefante supo que era especial. Después de varios intentos de dibujarle
                un cordero, le terminó dibujando una caja y le digo que adentro está el cordero que él quiere y al chico
                le encanta.</p>
            <p>Luego de aquello, el Principito se queda con el Aviador y con el tiempo le cuenta su historia y de dónde
                viene. El provenía de un pequeño planeta que el Avuu is ador nombró Asteroide B612. En aquel lugar él
                limpiaba tres volcanes que tenía, cortaba los baoba y cuidaba una rosa. El adoraba esa rosa, pero con el
                pasar del tiempo, la vanidad de la rosa tapó el amor que él le tenía. Como respuesta a esto, se fue a
                explorar el universo en busca de respuestas. Antes de llegar a la Tierra, paso primero por la región de
                los asteroides 325 al 330. El primero estaba habitado por un rey que buscaba súbditos. En el segundo,
                residía un vanidoso que quería admiración. En el tercero había un bebedor que bebe para olvidar la
                vergüenza que siente al beber. En el cuarto se encuentra con un hombre de negocios que cuenta estrellas
                que él posee. En el quinto conoció a un farolero que prendía y apagaba un farol. Por último, llega al
                planeta de un geógrafo que escribe en libros las cosas que existen. En este lugar el Principito descubre
                que su rosa no vivirá por siempre y que cuando llegue su momento desaparecerá.</p>
            <p>Por recomendación del geógrafo, el chico llega a la Tierra. Aquí el Aviador para de contar la historia y
                resalta que el planeta está lleno de reyes, geógrafos, hombres de negocios, bebedores, vanidosos y
                faroleros y después sigue contando la historia. El Principito habló primero con una serpiente y luego
                con una flor. Después continúa por ahí y encuentra un jardín de rosas que le hicieron ver que su rosa no
                era tan única como creía. Al continuar su camino se encuentra con un zorro, del que se hace amigo. En
                este encuentro el zorro le da algunas lecciones sobre la amistad y las relaciones que establecemos. El
                Principito se despide de su nuevo amigo y sigue su camino. Conoció a un hombre encargado de mover las
                agujas de los trenes y un vendedor de pastillas para la sed y aquí termina la historia antes de que
                conociera al aviador. Ya pasaron par de días y el Aviador se quedó sin agua. Ambos caminan por el
                desierto en busca de agua y descubren un pozo. El Principito le pide al aviador que le dibuje un bozal
                para su cordero y que se vaya a arreglar la avioneta y el Aviador le dice que si y que volverá en cuanto
                termine. Al otro día el Aviador vuelve y ve al niño sentado sobre unas ruinas, cerca del pozo, hablando
                con la serpiente que había conocido antes. El Aviador preocupado, asusta la serpiente y ayuda al
                principito. De camino a la avioneta tienen una conversación muy profunda acerca de su amistad. De
                momento, aparece la serpiente de entre la tierra y muerde al chico en el tobillo y el Principito cae al
                suelo. El aviador nos cuenta que ya van 6 años desde lo qué pasó y que está preocupado sobre si el
                cordero se habrá comido la rosa.</p>
            <p>Esta hermosa historia termina con el Aviador diciendo: “Si viajan por el Africa, en el desierto. Y si
                llegan a pasar por allí, les suplico: no se apresuren; esperen un momento, exactamente debajo de la
                estrella. Si entonces un niño llega hacia vosotros, si ríe, si tiene cabellos de oro, si no responde
                cuando se le interroga, adivinarán quién es. ¡Sean amables! No me dejen triste. Escríbanme en seguida,
                dígame que él Principito ha vuelto…”.</p>
            <h2>Personajes:</h2>
            <p>El Principito, que tiene una gran curiosidad e imaginación, representa la inocencia y ese niño que alguna
                vez fuimos. El Aviador, que gracias a él fue que conocimos la historia del Principito y se puede decir
                que nos representa, porque al igual que él va cambiando a lo largo de la historia, nosotros de cierta
                manera vamos cambiando nuestra mentalidad con cosas que aprendimos del libro. Ahora, estos dos
                personajes en conjunto representan otra cosa. Representan la relación entre nuestro yo actual y el niño
                que fuimos. Esto se ve reflejado en cómo se comporta el Aviador con el Principito a lo largo de la
                historia. </p>
            <figure>
                <img src="static/aviador.png" alt="El aviador">
                <figcaption><em>El aviador junto a El principito</em></figcaption>
            </figure><br>
            <p>El siguiente personaje es la Rosa. Representa el amor y sus contradicciones. El Principito la amaba, pero
                por la vanidad y otras actitudes de la Rosa, no la supo valorar. El Zorro simboliza la amistad. Él le
                dice al Principito que lo domestique y así uno será único para otro. Una amistad es hermosa pero
                requiere tiempo y esfuerzo cultivarla. La Serpiente que muerde a nuestro protagonista representa el fin
                de las cosas. La “muerte” del Principito simboliza el fin de ese niño que fuimos para continuar con
                nuestras vidas.</p>
            <figure>
                <img src="static/serpiente.jpg" alt="La serpiente">
                <figcaption><em>La serpiente hablando con El principito</em></figcaption>
            </figure><br>
            <p>El Rey del asteroide 325, se puso contento cuando llegó el Principito porque no tenía a quien dar
                órdenes. Este personaje es como las personas con sed de poder. El Vanidoso cree que todos lo admiran y
                solo presta atención a las alabanzas. Como todas esas personas que solo buscan la aceptación de los
                demás. El Bebedor que bebe para olvidar la vergüenza que siente al beber, representa la incapacidad de
                las personas para resolver sus problemas y que en muchos casos recurren a las drogas o el alcohol para
                resolverlos y no, no es la solución. El Hombre de negocios se pasa todo el tiempo contando estrellas
                para depositarlas en el banco. Es la representación de las personas que pasan su vida tras las riquezas.
                El Farolero tiene el trabajo de prender el farol por la noche y apagarlo por el día. El problema con
                este trabajo es que en su asteroide un día dura un minuto, quitándole la oportunidad de descansar. A
                través de él vemos como las personas haciendo lo que deben, dejan a un lado lo que quieren. Por último,
                el Geógrafo, que se dedica a estudiar y recibe exploradores que le cuentan como son las cosas. Simboliza
                ese tipo de persona, que a pesar de sus estudios, no exploran ni experimentan el mundo y las cosas que
                este esconde, como el amor.</p>
            <figure>
                <img src="static/hombre.jpg" alt="El hombre de negocios">
                <figcaption><em>El hombre de negocios en su asteroide</em></figcaption>
            </figure>
            <h2>Temas:</h2>
            <ul>
                <li>Amistad</li>
                <li>Los peligros de ser cerrado mentalmente</li>
                <li>Crecimiento tras la exploracion</li>
                <li>Soledad</li>
            </ul><br>
        </aside>
        <footer>
            <p></p><br>
            <h2>Leave a message</h2><br>
            <div class="large-8-columns">
                <form action="/submit_message" method="post">
                    <input type="text" placeholder="Name" name="who"><br>
                    <textarea placeholder="Enter your messages here" name="message" cols="50" rows="4"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
            </div><br>
            <h2>References</h2>
            <ul class="flowing-boxes">
                <li>Saint-Exupéry, Antoine de, El Principito, Publicaciones y Ediciones Salamandra, S.A.: Barcelona,
                    2000. <a href="http://enciclopedia.us.es/index.php/Especial:FuentesDeLibros/8478886281"
                        target="_blank">ISBN 8478886281.</a></li>
                <li>Luce, R. Duncan; Raiffa, Howard (1957), <a
                        href="https://en.wikipedia.org/wiki/Evolutionary_game_theory" target="_blank">Games and
                        decisions: introduction and critical survey, New York: Wiley</a></li>
                <li>Miller, James H. (2003), <a
                        href="https://en.wikipedia.org/wiki/Special:BookSources/978-0-07-140020-6" target="_blank">Game
                        theory at work: how to use game theory to outthink and outmaneuver your competition, New York:
                        McGraw-Hill, ISBN 978-0-07-140020-6. Suitable for a general audience.</a></li>
            </ul><br>
            <div class="insta">
                <a href="https://instagram.com/leelo.pr?utm_medium=copy_link" target="_blank"><img
                        src="static/insta.png" alt="Instagram"></a><br>
                <a href="https://m.youtube.com/channel/UC17DJ9xYkod7k5UYJD7QJKg" target="_blank"><img
                        src="static/youtube.png" alt="Youtube"></a>
            </div>
            <p></p>

        </footer>
    </div>
</body>

</html>