<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Léelo</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<img id="logo" src="/static/logo.png" alt="Léelo"><br>
<nav class="menu">
    <ul>
        <li><a href="home.html" target="blank">HOME</a></li>
        <li><a href="libros.html" target="blank">LIBROS</a></li>
        <li><a href="literatura.html" target="blank">LITERATURA</a></li>
        <li><a href="pitmarket.html" target="blank">PIT MARKET</a></li>
    </ul>
</nav>
<p></p>

<body div style="background-image: url(static/background.png);">
    <div class="container">
        <article>
            <h2>Menú:</h2>
            <nav class="menu.idiom">
                <ul>
                    <a href="..." target="blank">Géneros</a><br>
                    <a href="..." target="blank">Autores</a><br>
                    <a href="..." target="blank">Cultura</a><br>
                </ul>
            </nav>
        </article>
        <aside>
            <h1>Qué es una distopia?</h1>
            <p>Segun RAE una distopía es "la representacion de una sociedad futura de caracteristicas negativas
                causantes de la alienacion humana". En palabras mas sencillas, es lo contrario a una sociedad ideal.
                Usualmente las distopia tratan de temas socio-politicos que si no se atienden pueden volverse algo
                aterrador. Uno de los primeros libros de este tipo fue <em>Los viajes de Gulliver</em> en 1725. Gulliver
                visita varios lugares con gobiernos disfuncionales, cada uno de estos gobiernos representa un problema
                que el autor encontro en su propia sociedad. Con el tiempo se siguieron escribiendo libros de este tipo,
                pero no fue hasta el siglo XX que se convirtio en un genero, tanta guerra y tanto conflicto impulso la
                imaginacion distopica. Ejemplos de estas novelas son:</p>
            <ul>
                <li>Un mundo feliz - Aldous Huxley: Presenta una sociedad donde las personas son manipuladas a traves de
                    la ciencia y la tecnologia.</li><br>
                <figure>
                    <img src="stati/mundofeliz.jpg" alt="Un mundo feliz">
                    <figcaption><em>Portada de Un mundo feliz</em></figcaption>
                </figure><br>
                <li>La naranja mecanica - Anthony Burgess = Presenta como el gobierno, la ciencia y la religion tratan
                    de cambiar al ser humano.</li><br>
                <figure>
                    <img src="static/naranja.jpg" alt="La naranja mecanica">
                    <figcaption><em>Portada de La naranja mecanica</em></figcaption>
                </figure><br>
            </ul>
            <p>El interes por las distopias a continuado hasta nuestros dias y a influenciado de gran manera la
                literatura juvenil. Ejemplos de estos libros son las trilogias The Hunger Games y Dirvergent. Esta
                generacion distopica se caracteriza por reflejar el temor de los jovenes de hoy dia que estan a punto de
                heredar un mundo completamente problematico.</p><br>
        </aside>
        <footer>
            <p></p><br>
            <h2>Leave a message</h2><br>
            <div class="large-8-columns">
                <form action="/submit_message" method="post">
                    <input type="text" placeholder="Name" name="who"><br>
                    <textarea placeholder="Enter your messages here" name="message" cols="50" rows="4"></textarea><br>
                    <input type="submit" value="Submit">
                </form>
            </div><br>
            <h2>References</h2>
            <ul class="flowing-boxes">
                <li>Aumann, Robert J (1987), "game theory", <a
                        href="https://en.wikipedia.org/wiki/The_New_Palgrave_Dictionary_of_Economics#The_New_Palgrave:_A_Dictionary_of_Economics"
                        target="_blank">The New Palgrave: A Dictionary of Economics, 2, pp. 460–82.</a></li>
                <li>Luce, R. Duncan; Raiffa, Howard (1957), <a
                        href="https://en.wikipedia.org/wiki/Evolutionary_game_theory" target="_blank">Games and
                        decisions: introduction and critical survey, New York: Wiley</a></li>
                <li>Miller, James H. (2003), <a
                        href="https://en.wikipedia.org/wiki/Special:BookSources/978-0-07-140020-6" target="_blank">Game
                        theory at work: how to use game theory to outthink and outmaneuver your competition, New York:
                        McGraw-Hill, ISBN 978-0-07-140020-6. Suitable for a general audience.</a></li>
            </ul><br>
            <a href="https://instagram.com/leelo.pr?utm_medium=copy_link" target="_blank"><img src="static/insta.png"
                    alt="Instagram"></a><br>
            <a href="https://m.youtube.com/channel/UC17DJ9xYkod7k5UYJD7QJKg" target="_blank"><img
                    src="static/youtube.png" alt="Youtube"></a>
            <p></p>
        </footer>
    </div>
</body>

</html>