<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Léelo</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<img id="logo" src="/static/logo.png" alt="Léelo"><br>
    <nav class="menu">
        <ul>
            <li><a href="home.html" target="blank">HOME</a></li>
            <li><a href="libros.html" target="blank">LIBROS</a></li>
            <li><a href="literatura.html" target="blank">LITERATURA</a></li>
            <li><a href="pitmarket.html" target="blank">PIT MARKET</a></li>
        </ul>
    </nav>
    <p></p>
    <body div style="background-image: url(static/background.png);">
    <div class="container">
    <article>
        <h2>Quiero...</h2>
        <nav class="menu.idiom">
            <ul>
                <a href="..." target="blank">Libros nuevos</a><br>
                <a href="..." target="blank">Libros Usados</a><br>
                <a href="..." target="blank">Intercambiar</a><br>
            </ul>
        </nav>
    </article>
	<aside>
    
    </aside>
    <footer>
        <h2>References</h2>
        <ul class="flowing-boxes">
            <li>Aumann, Robert J (1987), "game theory", <a href="https://en.wikipedia.org/wiki/The_New_Palgrave_Dictionary_of_Economics#The_New_Palgrave:_A_Dictionary_of_Economics" target="_blank">The New Palgrave: A Dictionary of Economics, 2, pp. 460–82.</a></li>
            <li>Luce, R. Duncan; Raiffa, Howard (1957), <a href="https://en.wikipedia.org/wiki/Evolutionary_game_theory" target="_blank">Games and decisions: introduction and critical survey, New York: Wiley</a></li>
            <li>Miller, James H. (2003), <a href="https://en.wikipedia.org/wiki/Special:BookSources/978-0-07-140020-6" target="_blank">Game theory at work: how to use game theory to outthink and outmaneuver your competition, New York: McGraw-Hill, ISBN 978-0-07-140020-6. Suitable for a general audience.</a></li>
        </ul><br> 
        <p>Instagram? leelo.pr</p>
        <p>Yooutube? leelo.pr</p><br>
        <p></p>
    </footer>
    </div>
</body>

</html>