<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Léelo</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<img id="logo" src="/static/logo.png" alt="Léelo"><br>
    <nav class="menu">
        <ul>
            <li><a href="home.html" target="blank">HOME</a></li>
            <li><a href="libros.html" target="blank">LIBROS</a></li>
            <li><a href="literatura.html" target="blank">LITERATURA</a></li>
            <li><a href="pitmarket.html" target="blank">PIT MARKET</a></li>
        </ul>
    </nav>
    <p></p>
    <body div style="background-image: url(static/background.png);">
    <div class="container">
    <article>
        <h2>Quiero...</h2>
        <nav class="menu.idiom">
            <ul>
                <a href="..." target="blank">Libros nuevos</a><br>
                <a href="..." target="blank">Libros Usados</a><br>
                <a href="..." target="blank">Intercambiar</a><br>
            </ul>
        </nav>
    </article>
	<aside>
    
    </aside>
    <footer>
        <p></p><br>
            <h2>Leave a message</h2><br>
            <div class= "large-8-columns">
                <form action= "/submit_message" method="post">
                    <input type= "text" placeholder= "Name" name="who"><br>
                    <textarea placeholder= "Enter your messages here" name = "message" cols="50" rows="4"></textarea><br>
                    <input type= "submit" value="Submit">
                </form>
            </div><br>
        <p>Instagram? leelo.pr</p>
        <p>Yooutube? leelo.pr</p><br>
        <p></p>
    </footer>
    </div>
</body>

</html>