<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Léelo</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<img id="logo" src="/static/logo.png" alt="Léelo"><br>
<nav class="menu">
    <ul>
        <li><a href="home.html" target="blank">HOME</a></li>
        <li><a href="libros.html" target="blank">LIBROS</a></li>
        <li><a href="literatura.html" target="blank">LITERATURA</a></li>
        <li><a href="pitmarket.html" target="blank">PIT MARKET</a></li>
    </ul>
</nav>
<p></p>

<body div style="background-image: url(static/background.png);">
    <div class="container">
        <article>
            <h2>Quiero...</h2>
            <nav class="menu.idiom">
                <ul>
                    <a href="..." target="blank">Libros nuevos</a><br>
                    <a href="..." target="blank">Libros Usados</a><br>
                    <a href="..." target="blank">Intercambiar</a><br>
                </ul>
            </nav>
        </article>
        <aside>

        </aside>
        <footer>


            <div class="insta">
                <a href="https://instagram.com/leelo.pr?utm_medium=copy_link" target="_blank"><img
                        src="static/insta.png" alt="Instagram"></a><br>
                <a href="https://m.youtube.com/channel/UC17DJ9xYkod7k5UYJD7QJKg" target="_blank"><img
                        src="static/youtube.png" alt="Youtube"></a>
            </div>
            <p></p>
        </footer>
    </div>
</body>

</html>